* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
}

.trybewarts-login {
  display: flex;
  border: solid 1px red;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: solid 1px yellow;
  gap: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.name {
  display: flex;
  border: 1px solid purple;
  padding: 10px;
}

.house {
  display: flex;
  border: 1px solid teal;
}

hr {
  height: 2px;
  border: none;
  background-color: black;
}

.radio {
  display: flex;
  flex-direction: column;
}

.checkBoxes {
  display: flex;
  flex-direction: column;
}